<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem De serviço Preventiva</title>
    <style>

        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        *{
            margin: 0;
            padding: 0;
        }

        @media print {
            #buttons{
                display: none;
            }
        }

        .container{
            width: 210mm;
            height: 297mm;
            border: 1px solid black;
        }

    </style>
</head>
<body>

    <div id="buttons">
        <button onclick="printPage()" >Imprimir</button>
        <button onclick="printPageToPDF()" >Salvar Como PDF</button>
    </div>
    

    <div class="container" >
        <h1><%-weekCode%></h1>
        <h1><%-machine.tag%></h1>
        <h1 id="tt"><%-nature.name%></h1>
    </div>

    <script>
        const pdfName = "<%-id%>_<%-weekCode.replace('W', 'S')%>_<%-machine.tag%>-<%-nature.name%>"

        function printPage(){
            window.ipc.send('runPrint')
        }
        function printPageToPDF(){
            window.ipc.send('runPrintToPdf', pdfName)
        }
    </script>
</body>
</html>